<<<<<<< HEAD
version: '3.8'
services:
  app:
    build: .docker
    stdin_open: true
    tty: true
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "100"
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      # exclude
      - /app/.git/
    working_dir: /app
=======
version: '3.8'
services:
  app:
    build: .docker
    stdin_open: true
    tty: true
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "100"
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      # exclude
      - /app/.git/
    working_dir: /app
>>>>>>> e2b422d1df573178d755437fb67669b99437ea32
    user: "1000:1000"